body{
    display: flex;
    justify-content: center;
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614434760_24-p-temnii-fon-dlya-pk-29.jpg");
    color: rgb(194, 194, 194);
}